APP_PORT=8765
LAN_REQUIRED=1
APP_SECRET=CHANGE-THIS-TO-A-LONG-RANDOM-VALUE
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ChangeMe123!
PUBLIC_BASE_URL=
PRINT_BACKEND=sumatra
SUMATRA_PATH=C:\Program Files\SumatraPDF\SumatraPDF.exe
DRIVE_FOLDER_ID=1UyFQCt6gBZ9wkeNWPGWmkL4jJj0Kugdu
